:root {
    --font-family: "Victor Mono";
    --font-size: 14px;
}

.monaco-split-view2.vertical.separator-border,
.monaco-split-view2.horizontal.separator-border {
    --separator-border: #11111B !important;
}

.windows {
    font-family: var(--font-family) !important;
    font-size: var(--font-size) !important;
}

.linux {
    font-family: var(--font-family) !important;
    font-size: var(--font-size) !important;
}

.quick-input-widget {
    border-radius: 0px 0px 8px 8px !important;
}

.monaco-scrollable-element>.shadow.top {
    box-shadow: none;
}

.tab[aria-selected="false"] {
    border-bottom: 2px solid #CBA6F7 !important;
}

.tab[aria-selected="true"] {
    border-bottom: 2px solid #89B4FA !important;
}

.monaco-workbench .part>.content,
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab .tab-label a,
.monaco-workbench .part.editor>.content .editor-group-container>.title .title-label a,
.monaco-breadcrumbs,
.monaco-workbench .part.statusbar {
    font-size: var(--font-size) !important;
}

.monaco-editor .suggest-widget {
    border-radius: 8px 8px 8px 8px !important;
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.1) !important;
    padding: 4px !important;
}

.monaco-editor .monaco-hover {
    border-radius: 8px 8px 8px 8px !important;
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.1) !important;
}

.monaco-editor .parameter-hints-widget {
    border-radius: 8px 8px 8px 8px !important;
    box-shadow: 0 0 8px 8px rgba(0, 0, 0, 0.1) !important;
}

.monaco-workbench .part>.composite.title>.title-actions {
    display: none;
}

.title.tabs.show-file-icons {
    background-color: #181825 !important;
}

.window-controls-container.show-layout-control {
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 8px;
}

.monaco-workbench .part.titlebar>.titlebar-container>.titlebar-left>.window-appicon:not(.codicon) {
    background-image: url("https://raw.githubusercontent.com/catppuccin/catppuccin/main/assets/logos/exports/1544x1544_circle.png") !important;
    background-size: 20px !important;
    background-position: 40% !important;
}

.split-view-view.visible {
    background-color: #181825;
}

.monaco-workbench .part.titlebar>.window-controls-container {
    display: none !important;
}

.monaco-workbench:not(.mac):not(.web) .part.titlebar>.titlebar-container>.window-controls-container.show-layout-control>.layout-dropdown-container {
    min-width: 0px !important;
}

.monaco-workbench .part>.composite.title {
    display: none !important
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.active.tab-border-bottom>.tab-border-bottom-container {
    display: none !important;
}

.monaco-workbench .part.sidebar>.title>.title-label h2 {
    display: none;
}

.monaco-workbench .part.sidebar .title-actions .actions-container {
    justify-content: space-around;
}

.monaco-editor .scroll-decoration {
    box-shadow: none !important;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.active.tab-border-bottom>.tab-border-bottom-container {
    height: 3px !important;
}
