:root {
    --font-family: "Victor Mono";
    --font-size: 14px;
}

.monaco-split-view2.vertical.separator-border,
.monaco-split-view2.horizontal.separator-border{
    --separator-border: #11111B !important;
}

.windows {
    font-family: var(--font-family) !important;
    font-size: var(--font-size) !important;
}

.linux {
    font-family: var(--font-family) !important;
    font-size: var(--font-size) !important;
}

.monaco-scrollable-element>.shadow.top {
    box-shadow: none;
}

.tab.tab-actions-right.sizing-shrink.tab-border-bottom.tab-border-top.active {
    /*border-bottom: 2px solid #89B4FA !important;*/
}

.tab[aria-selected="false"] {
    border-bottom: 2px solid #CBA6F7 !important;
}

.tab[aria-selected="true"] {
    border-bottom: 2px solid #89B4FA !important;
}

.slider {
    /*width: 12px !important;*/
}

.monaco-workbench .part>.content,
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab .tab-label a,
.monaco-workbench .part.editor>.content .editor-group-container>.title .title-label a,
.monaco-breadcrumbs,
.monaco-workbench .part.statusbar {
    font-size: var(--font-size) !important;
}

canvas.decorationsOverviewRuler {
    visibility: hidden;
}

.monaco-scrollable-element {
    /*background-color: #1E1E2E !important;*/
}

.visible.scrollbar.vertical {
    background-color: #1E1E2E !important;
}

.monaco-workbench .part>.composite.title>.title-actions {
    display: none;
}

/* .tab.tab-actions-right.sizing-shrink.has-icon.active.tab-border-bottom.tab-border-top {
    border-right: none !important;
} */

.title.tabs.show-file-icons {
    background-color: #181825 !important;
}

.window-controls-container.show-layout-control {
    flex-direction: row;
    justify-content: flex-end;
    padding-right: 8px;
}

/* .monaco-workbench .part.titlebar>.titlebar-container>.window-appicon{
    height: 25px;
    width: 25px;
    left: 3px;
    top: 1px;
    border-radius: 5px;
    background-color: #45475A;
} */

.monaco-workbench .part.titlebar>.titlebar-container>.titlebar-left>.window-appicon:not(.codicon) {
    background-image: url("https://raw.githubusercontent.com/catppuccin/catppuccin/main/assets/logos/exports/1544x1544_circle.png") !important;
    background-size: 20px !important;
    background-position: 40% !important;
}

.split-view-view.visible{
    background-color: #181825;
}

.monaco-workbench .part.titlebar>.window-controls-container {
    display: none !important;
}

.monaco-workbench:not(.mac):not(.web) .part.titlebar>.titlebar-container>.window-controls-container.show-layout-control>.layout-dropdown-container {
    min-width: 0px !important;
}

.monaco-workbench .part.sidebar .title-actions .actions-container .monaco-workbench .part.titlebar>.titlebar-container>.window-controls-container>.window-icon {
    /*display: none !important;*/
}

.monaco-workbench .codicon[class*="codicon-"] {
    /*color: #89B4FA !important;*/
}

.monaco-sash:before {
    /*background-color: #1E1E2E !important;*/
}

.part.statusbar {
    /* color: #cdd6f4 !important;
    background-color: #1E1E2E !important; */
}

.monaco-workbench .part>.composite.title {
    /*background-color: #1E1E2E !important;*/
    display: none !important
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.active.tab-border-bottom>.tab-border-bottom-container {
    display: none !important;
}

.monaco-workbench .part.sidebar>.title>.title-label h2 {
    display: none;
}

.monaco-workbench .part.sidebar .title-actions .actions-container {
    justify-content: space-around;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.sizing-shrink.has-icon.tab-actions-off:not(.sticky-compact),
.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.sizing-shrink.has-icon.tab-actions-right {
    /*border-right: none !important;*/
}

.monaco-editor .scroll-decoration {
    box-shadow: none !important;
}

.monaco-workbench .part.editor>.content .editor-group-container>.title .tabs-container>.tab.active.tab-border-bottom>.tab-border-bottom-container {
    height: 3px !important;
}

/* .monaco-editor .margin{
    box-shadow: #11111b 6px 0px 6px -4px inset !important;    
}

.monaco-editor .minimap-shadow-visible{
    box-shadow: #11111b -6px 0px 6px -4px inset !important;  
} */
